body{
    background-color: rgb(148,171,133);
}
.logoSignup{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin: 10px;
    margin-bottom:0px;
}
.barSignup{
    display: inline-grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.youwriteSignup{
    color:black ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.lineSignup{
    background-color: black;
}
.bottomdiv{
    text-align: center;
}
.text{
    color: white;
    font-size:30px;
}
.line{
    background-color: rgb(255, 255, 255);
}
.input{
    width: 360px;
    border-radius: 10px;
    background-color: rgba(225,225,225,80%);
}
.buttonSignup{
    width: 360px;
    border-radius: 10px;
    background-color: rgb(25, 41, 28);
    border-color:rgb(25, 41, 28) ;
    margin-bottom: 20px;
}
.links{
    margin-top: 50px;
}
.signupbox{
    background-color: rgba(5,64,21,80%);;
    border-radius:10px;
    margin: auto;
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
}
@media (max-width:500px){
    .Signupbox{
        background-color: rgba(5,64,21,80%);
        margin: auto;
        padding: 20px;
        width:300px;
        margin-bottom: 20px;
    }
    .input{
        width:260px;
        border-radius: 10px;
        background-color: rgba(225,225,225,80%);
    }
    .buttonSignup{
        width: 260px;
        border-radius: 10px;
        background-color: rgb(25, 41, 28);
        border-color:rgb(25, 41, 28) ;
    }
    
}